* {
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}

button, input, form, label {
    margin: 10px;
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
    display: block;
}

button, #add-gif {
    border-radius: 0.5rem;
    background-color: darkcyan;
    color: white;
}

#button_view {
    margin-bottom: 10px;
}

#search-form {
    height: 17.5%;
    padding: 1.5%;
    float: right;
    clear: both;
    background-color: gray;
    margin-bottom: 10%;
}

#gif-container {
    height: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 10px;
    padding: 5px;
}